/* ===========================================================
General Styling
=========================================================== */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 180%;
  color: #666666;
  text-align: center;
}

img {
  width: 100%;
}
/* ===========================================================
Header
=========================================================== */

#header-img {
  position: fixed;
}

.header {
  background-color: #ffffff;
  color: #000000;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  list-style: none;
  overflow: hidden;
}

.header ul a {
  display: block;
  padding: 0.2rem;
  text-decoration: none;
  color: #000;
}

.header ul a:hover {
  background-color: #f2f2f2;
  color: #008080;
}

.header .logo {
  display: block;
  max-width: 5rem;
  margin: 1rem 0 0 1rem;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding-left: 0;
}

.header .menu-icon {
  padding: 3rem 2rem;
  position: relative;
  cursor: pointer;
  float: right;
}

.header .menu-icon .nav-icon {
  background: #000;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background: #000;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:after {
  background: #000;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: background 0.2s ease-out;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-icon ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

/* ===========================================================
Main
=========================================================== */

.banner {
  background-color: #323232;
  color: #f2f2f2;
  padding-top: 7.2rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.5rem #008080;
  font-family: sans-serif;
  animation-name: flashing;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 15s;
}

.banner h1 {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.banner h4 {
  margin: 0;
}

.parallax1 {
  background: url(images/img1.jpg);
  min-height: 100%;
  padding-top: 30rem;
}

.parallax2 {
  background: url(images/flowers2.jpg);
  min-height: 60%;
}

.parallax3 {
  background: url(images/product3.jpg);
  min-height: 40%;
}

.parallax4 {
  background: url(images/general-soap1.jpg);
  min-height: 100%;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
  position: relative;
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  position: absolute;
  color: #ffffff;
  font-size: 200%;
  top: 18%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}

.two-col p,
.two-col video {
  font-size: 70%;
  text-align: justify;
  line-height: 1.3rem;
  margin-top: 1rem;
}

section {
  overflow: auto;
  padding: 1rem 2rem;
}

video {
  width: 100%;
}

/* ===========================================================
Footer
=========================================================== */

/* ===========================================================
Media Query
=========================================================== */

@media (min-width: 48em) {
  .heading {
    font-size: 550%;
    top: 2%;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .two-col {
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
  }
  .two-col p {
    font-size: 100%;
    line-height: 1.5rem;
  }
  nav,
  body {
    max-width: 1440px;
  }
  section {
    padding: 1rem;
  }
}
/* ===========================================================
Keyframes
=========================================================== */

@keyframes flashing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
