/* ===========================================================
General Styling
=========================================================== */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 180%;
  color: #666666;
  text-align: center;
}

img {
  width: 100%;
}
/* ===========================================================
Header
=========================================================== */

#header-img {
  position: fixed;
}

.header {
  background-color: #ffffff;
  color: #000000;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  list-style: none;
  overflow: hidden;
}

.header ul a {
  display: block;
  padding: 0.2rem;
  text-decoration: none;
  color: #000;
}

.header ul a:hover {
  background-color: #f2f2f2;
  color: #008080;
}

.header .logo {
  display: block;
  max-width: 5rem;
  margin: 1rem 0 0 1rem;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding-left: 0;
}

.header .menu-icon {
  padding: 3rem 2rem;
  position: relative;
  cursor: pointer;
  float: right;
}

.header .menu-icon .nav-icon {
  background: #000;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background: #000;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:after {
  background: #000;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: background 0.2s ease-out;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-icon ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.banner {
  background-color: #323232;
  color: #f2f2f2;
  padding: 0.2rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.5rem #008080;
  font-family: sans-serif;
  animation-name: flashing;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 10s;
}

.banner h1 {
  margin-bottom: 0;
}

.banner h4 {
  margin: 0 0 1rem 0;
}

/* ===========================================================
Main
=========================================================== */

/* ===========================================================
Footer
=========================================================== */

/* ===========================================================
Media Query
=========================================================== */
.parallax1 {
  background: url(images/img1.jpg);
  min-height: 100%;
}

.parallax2 {
  background: url(images/flowers2.jpg);
  min-height: 60%;
}

.parallax3 {
  background: url(images/product3.jpg);
  min-height: 40%;
}

.parallax4 {
  background: url(images/general-soap1.jpg);
  min-height: 100%;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
  position: relative;
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  position: absolute;
  color: #ffffff;
  font-size: 550%;
  top: 30%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}

.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #ffffff;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}

.two-col {
  float: left;
  width: 42%;
  padding: 0 4%;
  text-align: left;
}

section {
  overflow: auto;
  padding: 50px 80px;
}

.dark {
  overflow: auto;
  padding: 50px 80px;
  background-color: #323232;
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-xl {
  padding: 1rem 2 rem;
}

.btn-primary {
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.img-area {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.single-img {
  padding: 0 20px 20px;
}

img:hover {
  opacity: 0.5;
  transition: 0.9s;
}

/* media query */

/* @media (max-height: 780px) {
  .parallax1 {
    background: url(images/header2.jpg);
    min-height: 100%;
  }
} */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* ===========================================================
Keyframes
=========================================================== */

@keyframes flashing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
